<div>
    <div class="content-box" *ngIf="!isLoading">
        <div class="info">
            <a routerLink="/appointment"> 
                <button>Back</button>
            </a>
            <h3>First Name:  {{patient.fname}}</h3>
            <h3>Last Name: {{patient.lname}}</h3>
            <h3>Address: {{patient.address}}</h3>
            <h3>Date of Birth: {{patient.DOB}}</h3>
            <!-- <h3>Email: {{patient.email}}</h3> -->
            <h3>Phone: {{patient.phone}}</h3>
        </div>
        <div class="id">
            <img src="../../assets/driver.jpg"  width="400" height="250"/>
        </div>
        <div class="id">
            <img src="../../assets/insurance.jpg" width="400" height="250"/>
        </div>
    </div>
</div>

<div class="content-box" *ngIf="isLoading">
    <h3>Loading...</h3>
</div>