.content-box {
    background-color:white;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    max-width: 1500px;
}

.info{
    display: inline-block;
    padding: 16px;
    width: 400px;
}

.id{
    display: inline-block;
    padding: 16px;
    width: 400px;
}

button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h3{
    font-weight: bold;
}
