<div>
    <div class="content-box" *ngFor="let patient of patients">
        <div class="info">
            <h3>First Name: {{patient.firstname}}</h3>
            <h3>Last Name: {{patient.lastname}}</h3>
            <h3>Address: {{patient.address}}</h3>
            <h3>Date of Birth: {{patient.dateofbirth}}</h3>
            <h3>Email: {{patient.email}}</h3>
            <h3>Phone: {{patient.phone}}</h3>
        </div>
        <div class="id">
            <img src="../../assets/driver.jpg"  width="400" height="250"/>
        </div>
        <div class="id">
            <img src="../../assets/insurance.jpg" width="400" height="250"/>
        </div>
    </div>
</div>