
    /* table */
table{
    margin-top:10px;
    background: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}
table, th, td {
    border: .1px solid #ddd;
  }
#delete{
    text-decoration: underline;
}
td{
    padding:15px;
}

#patients tr:nth-child(even){background-color: #f2f2f2;}
#patients tr:hover {background-color: #ddd;}

#patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0061F2;
    color: white;
  }




/*  */
.card{
    margin:20px;
    background-color:rgba(174, 230, 253, 0.67);
     border-radius: 20px;
     max-height: 500px;
  }
.info{
    padding-top: 80px;
    padding-left: 50px;
    display: inline-block;
    margin: auto;
    width: fit-content;
}
h3{
    font-family: 'Outfit';
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.imgDiv{
    padding-top: 30px;
    display: block;
    width: fit-content;
    position: relative;
    bottom: 390px;
    left: 65%;
}
img{
    width:300px;
}
.id{
    display: inline-block;
}

button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}

h3{
    font-weight: 900;
}