
.card{
    margin:20px;
    background-color:rgba(174, 230, 253, 0.67);
     border-radius: 20px;
     max-height: 500px;
  }
.info{
    padding-top: 80px;
    padding-left: 50px;
    display: inline-block;
    margin: auto;
    width: fit-content;
}
h3{
    font-family: 'Outfit';
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.imgDiv{
    padding-top: 50px;
    display: block;
    width: fit-content;
    position: relative;
    bottom: 390px;
    left: 65%;
}
img{
    width:300px;
}
.id{
    display: inline-block;
}