
#page-wrap {
    background-color: #EEE;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
}
#max-width-column {
    background-image: url("/assets/bgg.png");
    background-size:100% 100%;
    position: relative;
    /* max-width: 1800px; */
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 16px;
    position: relative;
}


#content-wrap {
    padding: 10px;
}
