.content-box {
    background-image: url("../../assets/hospital.jpg");
    background-color:white;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    max-width: 800px;
    position:relative;
}


h3{
    font-weight: bold;
}

button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 8px;
}