button {
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}
.content-box {
    background-color:rgb(223, 222, 241);
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
}

input, textarea {
    border: 2px solid black;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px; 
    padding: 8px;
}

div {
    padding: 8px;
}