<div class="content-box">
    <h2>Update Patient Information</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="firstname">
                First Name:
            </label>
            <input id="newfirstname" name="newfirstname" type="text" [(ngModel)]="newfirstname"/>
        </div>
        <div>
            <label for="lastname">
                Last Name:
            </label>
            <input id="lastname" name="lastname" type="text" [(ngModel)]="lastname"/>
        </div>
        <div>
            <label for="address">
                Address:
            </label>
            <input id="address" name="address" type="text" [(ngModel)]="address"/>
        </div>
        <div>
            <label for="dateofbirth">
                Date of Birth:
            </label>
            <input id="dateofbirth" name="dateofbirth" type="text" [(ngModel)]="dateofbirth"/>
        </div>
        <div>
            <label for="email">
                Email:
            </label>
            <input id="email" name="email" type="text" [(ngModel)]="email"/>
        </div>
        <div>
            <label for="phone">
                Phone:
            </label>
            <input id="phone" name="phone" type="text" [(ngModel)]="phone"/>
        </div>
        <button type="submit">Update</button>
    </form>
</div>