<div class="body">
    <mat-card class="card-style">
        <a   routerLink="/patients">
            <button id="patientInfo">VIEW PATIENT INFORMATION</button>
        </a>
        <a routerLink="/appointment">
            <button id="appointmentView" >VIEW SCHEDULE</button>
        </a>

    </mat-card>

    <!-- is this seperate card needed? Two links in one card is fine no?, there anchor tag allows different routes already? -->
    <!-- <mat-card class="card-style">
        <a routerLink="/appointment">
            <button>VIEW APPOITMENT</button>
        </a>
    </mat-card> --> 
</div>
